<nav>
<div class="nav-wrapper">
<a class="brand-logo swap left">ThisforThat</a>
<ul id="nav-mobile" class="right">
    <li class="search">
      <div class="nav-wrapper">
            <form>
              <div class="input-field">
                <input id="search" type="search" required>
                <label for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
              </div>
            </form>
          </div>
    <li><a id="logout" href="#">Logout</a></li>
    </li>
</ul>
</div>
</nav>
<main>

<div class="container" id="maincontainer">
<div class="row">

<!-- Sidebar Navigation (image) -->

<div class="col hide-on-small-only m3 l2">
  <div class="toc-wrapper pin-top" style="top: 0px;">

    <img src="{{userImage}}" class="circle responsive-img">

    <!-- Side Navigation Links  -->
    <br>
    <br>
    <blockquote>
    <ul class="links">
      <li><a class="modal-trigger" href="#postAProduct">Post Product</a></li>
      <li><a class="torequests" href="#swapped">Trade Requests</a></li>
      <li><a id ="swapStore" href="/">Trade Store</a></li>
    </ul>
    </blockquote>

  </div>
</div>

<!-- Swap Info Area -->
<div class="col s12 m10 l10">
  <div>
    <!-- NAME here -->
    <div id="username">


<!-- Swap Info Area -->
<div class="col s12 m10 l10">
  <div>
    <!-- NAME here -->
    <div id="username">


 




<!-- Post a Product Modal Structure -->
<div id="postAProduct" class="modal">
  <div class="modal-content">
    <button id="clearModal" input="reset" class="modal-close btn-flat" type="reset" style="position:absolute;top:0;right:0;">X</button>
    <h4>Post A Product</h4>
    <p>Tell us a bit about what you're Trading</p>
    <form>
      <div class="row">
        <div class="input-field col s6">
          <input id="item_name" type="text" class="validate">
          <label class="active" for="item_name">Product Name</label>
        </div>

      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="imageURL" type="url" class="validate">
          <label class="active" for="imageURL">Input Image URL</label>
        </div>
      </div>
      <div class="row">
        <form id="category" action="#">
          <h5>Pick one category for your product</h5>
          <p>
            <input class="with-gap" for="category" name="category-item" type="radio" id="beauty_button" value="Beauty/Health" />
            <label for="beauty_button">Beauty/Health</label>

            <input class="with-gap" for="category" name="category-item" type="radio" id="electronic_button" value="Electronics" />
            <label for="electronic_button">Electronics</label>

            <input class="with-gap" for="category" name="category-item" type="radio" id="apparel_button" value="Apparel" />
            <label for="apparel_button">Apparel</label>

            <input class="with-gap" for="category" name="category-item" type="radio" id="media_button" value="Media" />
            <label for="media_button">Media</label>

            <input class="with-gap" for="category" name="category-item" type="radio" id="sportingGoods_button" value="Sporting Goods" />
            <label for="sportingGoods_button">Sporting Goods</label>

            <input class="with-gap" for="category" name="category-item" type="radio" id="house_button" value="Household Goods" />
            <label for="house_button">Household Goods</label>

            <input class="with-gap" for="category" name="category-item" type="radio" id="other_button" value="Other" />
            <label for="other_button">Other</label>
          </p>
        </form>
      </div>
      <br>

      <div class="row">
        <form id="accept_money" action="#">
          <h5>Will you accept cash?</h5>
          <p>
            <input class="with-gap" for="accept_money" name="accept" type="radio" id="radio_one" value="true" />
            <label for="radio_one">Yes</label>

            <input class="with-gap" for="accept_money" name="accept" type="radio" id="radio_two" value="false" />
            <label for="radio_two">No</label>
          </p>
        </form>
      </div>
      <br>

      <div class="row">
        <form id="trade_good" action="#">
          <h5>Will you accept a good?</h5>
          <p>
            <input class="with-gap" for="trade_good" name="tradeGood" type="radio" id="radio_three" value="true" />
            <label for="radio_three">Yes</label>

            <input class="with-gap" for="trade_good" name="tradeGood" type="radio" id="radio_four" value="false" />
            <label for="radio_four">No</label>
          </p>
        </form>
      </div>
      <br>

      <div class="row">
        <form id="trade_service" action="#">
          <h5>Will you accept a service?</h5>
          <p>
            <input class="with-gap" for="trade_service" name="tradeService" type="radio" id="radio_five" value="true" />
            <label for="radio_five">Yes</label>

            <input class="with-gap" for="trade_service" name="tradeService" type="radio" id="radio_six" value="false" />
            <label for="radio_six">No</label>
          </p>
        </form>
      </div>
      <br>

    
    <div class="modal-footer">
      <button class="btn waves-effect waves-light left" type="submit" name="action" id="postProduct">Post Your Product
      </button>
    </div>
</div>
</div>

<!-- Accept Modal Structure -->
  <div id="congrats" class="modal">
  <div class="modal-content">
    <button class="modal-close btn-flat" style="position:absolute;top:0;right:0;">X</button>
    <h4>CONGRATS!</h4>
    <p>It's is all yours! Be sure to contact your friend to make arrangements!</p>
  </div>
  <div class="modal-footer">
    <a href="/" class=" modal-action modal-close waves-effect waves-green btn-flat">Keep Trading</a>
  </div>
</div>

<!-- Reject Modal Structure -->
<div id="reject" class="modal">
<div class="modal-content">
  <button class="modal-close btn-flat" style="position:absolute;top:0;right:0;">X</button>
  <h4>No problem, better trading this next time!</h4>
  <p>Your item will be returned back to your shop and your friend will be notified! Be sure to check out their shop to see if there is something else you would be willing to trade.</p>
</div>
<div class="modal-footer">
  <a href="/" class=" modal-action modal-close waves-effect waves-green btn-flat">Keep Swapping</a>
</div>
</div>


</div>

</main>

<footer class="page-footer blue" id="page-footer">
<div class="container">
  <div class="row">
  </div>
</div>
<div class="footer-copyright pinkT">
  <div class="container">
  </div>
</div>
</footer>



<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="../js/materialize.js"></script>
<script src="../js/app.js"></script>
<script type="text/javascript">

$(document).ready(function(){

  $("#postProduct").on("click", function (event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();
    var itemInput = {
      item_name: $('#item_name').val().trim(),
      category: $('input[name="category-item"]:checked').val(),
      accept_money: $('input[name="accept"]:checked').val(),
      trade_good: $('input[name="tradeGood"]:checked').val(),
      trade_service: $('input[name="tradeService"]:checked').val()
    };
    $.ajax("/api/newitem", {
      method: "POST",
      data: itemInput,dataType:"json"
    }).done(

      function () {
        console.log("created new item");
        // Reload the page to get the updated list
        location.reload();
      }).fail ( function(blah, textStatus, errorThrown){
        console.log(errorThrown)
      });
      
  });

});

</script>

