<nav>
<div class="nav-wrapper">
<a class="brand-logo swap left">ThisforThat</a>
<ul id="nav-mobile" class="right">
    <li class="search">
   
    <li><a id="logout" href="#">Logout</a></li>
    </li>
</ul>
</div>
</nav>
<main>

<div class="container" id="main-container">
<div class="row">



<div class="input-field col s12">

					<div class="panel-heading">
						<h3 class="panel-title"><strong>Current Items</strong></h3>
					</div>
					<div class="panel-body" id="well-section">
				
					<!-- Content will go in here -->
					</div>
				</div>

  
   

</div>
</div>








</div>

</main>

<footer class="page-footer blue" id="page-footer">
<div class="container">
  <div class="row">
  </div>
</div>
<div class="footer-copyright pinkT">
  <div class="container">
  </div>
</div>
</footer>


<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="../js/materialize.js"></script>
<script src="../js/app.js"></script>
<script type="text/javascript">
$(document).ready(function(){

 //$("#btn_takeQuiz").on("click", function (event) {
   // event.preventDefault();

   // alert("take quiz");

   // var quizData = {
     // quizId: $("#quizId").val()
  //  };

   // var item_search = {
   //     item_name: $("#search_item").val().trim()
   //   };

    // Send the GET request.
   // $.ajax("/quiz/", {
   //   type: "GET",
  //    data: quizData
 //   });
 // });



  
  $.get("/api/items", function (data) {
  
    for (var i = 0; i < data.length; i++) {

      var wellSection = $("<div>");

      wellSection.addClass("well");
    
      wellSection.attr("id", "item-well-" + i);
   
      $("#well-section").append(wellSection);
      $("#item-well-" + i).append("<p>" + data[i].item_name + "</p>");
      $("#item-well-" + i).append("<p>Category: " + data[i].category + "</p>");
      $("#item-well-" + i).append("<p>Item posted on: " + data[i].item_created + "</p>");
    }
  });
});
</script>
